<div class="bloc l-bloc" id="bloc-12">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-8 text-start col-lg-8">
                <div class="text-lg-center container-div-style">
                    <h3 class="mb-4 section-heading primary-text">
                        Список пресетов
                    </h3>

                    <div class="container">
                        {{#each presets}}
                        <div class="row mb-4">
                            <div class="col-12">
                                <h3>Номер лабы: {{this.lab_num}}</h3>
                            </div>
                            {{#each this.presets}}
                            <div class="col-md-6">
                                <div class="card shadow-sm p-1">
                                    <div class="card-body">
                                        <h5 class="card-title">{{preset_name}}</h5>
                                        <p class="card-text">Номер теста: {{test_num}}</p>
                                        {{#each params}}
                                            {{#ifneq this.label "test_num"}}
                                                {{#ifneq this.label "Название пресета"}}
                                                    <p class="card-text">{{this.label}}: {{this.value}}</p>
                                                {{/ifneq}}
                                            {{/ifneq}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-start offset-lg-0">
                <div class="card bg-light shadow p-3">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-4">Выберите лабораторную</h5>
                        <div class="mb-4">
                            <select id="lab_select" class="form-select">
                                {{#each config}}
                                    <option value="{{this.lab_num}}">Лабораторная {{this.lab_num}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPresetModal" data-lab-num="1">
                            Добавить пресет
                        </button>
                    </div>
                </div>

                <div class="modal fade" id="addPresetModal" tabindex="-1" aria-labelledby="addPresetModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addPresetModalLabel">Добавить пресет</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="add-preset" method="POST">
                                    {{#each config}}
                                        {{#if (eq this.lab_num ../lab_num)}}
                                            {{#each this.params}}
                                                <div class="mb-3">
                                                    <label for="{{this.name}}" class="form-label">{{this.label}}</label>
                                                    {{#eq this.type "string"}}
                                                        <input type="text" class="form-control" id="{{this.name}}" name="{{this.name}}">
                                                    {{/eq}}
                                                    {{#eq this.type "int"}}
                                                        <input type="number" class="form-control" id="{{this.name}}" name="{{this.name}}">
                                                    {{/eq}}
                                                    {{#eq this.type "bool"}}
                                                        <select class="form-select" id="{{this.name}}" name="{{this.name}}">
                                                            <option value="true">Да</option>
                                                            <option value="false">Нет</option>
                                                        </select>
                                                    {{/eq}}
                                                    {{#eq this.type "options"}}
                                                        <select class="form-select" id="{{this.name}}" name="{{this.name}}">
                                                            {{#each this.options}}
                                                                <option value="{{this}}">{{this}}</option>
                                                            {{/each}}
                                                        </select>
                                                    {{/eq}}
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    {{/each}}
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let labNum = 3;
        $('#lab_select').change(function () {
            labNum = $(this).val();
            $('button[data-bs-target="#addPresetModal"]').data('lab-num', labNum);
        });

        $('#addPresetModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal

            // Make AJAX request to get config for this lab
            $.get(`/user/config/${labNum}`, function(config) {
                const form = $('#addPresetModal form'); // The form inside the modal
                form.empty(); // Clear previous form fields

                // Create form fields based on config
                config.params.forEach(param => {
                    let input;
                    switch(param.type) {
                        case 'string':
                            input = `<input type="text" class="form-control" id="${param.name}" name="${param.name}" required>`;
                            break;
                        case 'int': case 'float':
                            input = `<input type="number" class="form-control" id="${param.name}" name="${param.name}" required>`;
                            break;
                        case 'bool':
                            input = `
                                <select class="form-select" id="${param.name}" name="${param.name}" required>
                                    <option selected value="true">Да</option>
                                    <option value="false">Нет</option>
                                </select>
                            `;
                            break;
                        case 'options':
                            let options = param.options.map(opt => `<option value="${opt}">${opt}</option>`).join('');
                            input = `<select class="form-select" id="${param.name}" name="${param.name}" required>${options}</select>`;
                            break;
                    }
                    const formGroup = `
                        <div class="mb-3">
                            <label for="${param.name}" class="form-label">${param.label}</label>
                            ${input}
                        </div>
                    `;
                    form.append(formGroup);
                });

                form.append(`<input type="hidden" name="lab_num" id="lab_num" value=${labNum}>`)

                // Add the submit button
                const submitButton = `<button type="submit" class="btn btn-primary">Добавить</button>`;
                form.append(submitButton);
            });
        });
    });
</script>