<div class="bloc l-bloc" id="bloc-2">
    <div class="bloc-md-lg bloc-md">
        <div class="row">
            <div class="col">
                <div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div>
                                <div class="pb-lg-3">
                                    <div>
                                        <div class="row mb-lg-3">
                                            <div class="text-lg-center col-lg-8">
                                                <h3 class="mb-4 primary-text box-heading text-lg-center">
                                                    Мои данные
                                                </h3>
                                            </div>
                                            <div class="col text-lg-center">
                                                <a href="#" class="btn btn-d btn-lg mt-lg-0 primary-btn box-btn fill-mob-btn" data-bs-toggle="modal" data-bs-target="#change-data">Изменить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="card mb-lg-3">
                                                <div class="card-body mini-heading">
                                                    <p class="mini-heading">
                                                        Имя: {{user.name}}
                                                    </p>
                                                </div>
                                                <div class="card-body mini-heading">
                                                    <p class="mini-heading">
                                                        Почта: {{user.email}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body mini-heading">
                                                    <p class="mini-heading">
                                                        Пароль: {{user.passwd}}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="row mb-lg-3">
                                        <div class="text-lg-center col-lg-8">
                                            <h3 class="mb-4 primary-text box-heading text-lg-center">
                                                Мои результаты
                                            </h3>
                                        </div>
                                        <div class="col text-lg-center">
                                            <a href="#" class="btn btn-d btn-lg mt-lg-0 primary-btn box-btn fill-mob-btn" data-bs-toggle="modal" data-bs-target="#remove-results">Сбросить</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="card mb-lg-3">
                                            <div class="card-body mini-heading">
                                                <ul class="nav nav-tabs" id="nav-res-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="a-btn nav-link active" id="nav-res-tab-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-res-content-1" aria-selected="true" data-bs-target="#nav-res-content-1">1</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="a-btn nav-link" id="nav-res-tab-2" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-res-content-2" aria-selected="false" data-bs-target="#nav-res-content-2">2</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="a-btn nav-link" id="nav-res-tab-3" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-res-content-3" aria-selected="false" data-bs-target="#nav-res-content-3">3</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="a-btn nav-link" id="nav-res-tab-4" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-res-content-4" aria-selected="false" data-bs-target="#nav-res-content-4">4</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="a-btn nav-link" id="nav-res-tab-5" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-res-content-5" aria-selected="false" data-bs-target="#nav-res-content-5">5</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="nav-res-content-1" role="tabpanel" aria-labelledby="nav-res-content-1">
                                                        <p class="float-lg-none">
                                                            Результаты 1 лабы
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs" id="nav-14005-tab" role="tablist">
                                                                {{#each rows}}
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link {{#if
                                                                                @first}}active{{/if}}" id="nav-14005-tab-{{this.id}}" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-14005-content-{{this.id}}" {{#if @first}}aria-selected="true" {{/if}} data-bs-target="#nav-14005-content-{{this.id}}">{{this.name}}
                                                                        <br></a>
                                                                </li>
                                                                {{/each}}
                                                            </ul>
                                                            <div class="tab-content">
                                                                {{#each rows}}
                                                                <div class="tab-pane fade-tab-bs {{#if @first}} show active {{/if}}" id="nav-14005-content-{{this.id}}" role="tabpanel" aria-labelledby="nav-14005-content-{{this.id}}">
                                                                    <div class="blocs-grid-container grid-bloc-8-style">
                                                                        {{#each this.pvks}}
                                                                        <div>
                                                                            <p class="bento-box active-token">
                                                                                {{this.name}}
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="bento-box active-token">
                                                                                {{this.importance}}
                                                                            </p>
                                                                        </div>
                                                                        {{/each}}
                                                                    </div>
                                                                </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade-tab-bs" id="nav-res-content-2" role="tabpanel" aria-labelledby="nav-res-content-2">
                                                        <p>
                                                            Результаты 2 лабы
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs" id="nav-47125-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link active" id="nav-47125-tab-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47125-content-1" aria-selected="true" data-bs-target="#nav-47125-content-1">
                                                                        Простые<br></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link" id="nav-47125-tab-2" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47125-content-2" data-bs-target="#nav-47125-content-2">
                                                                        Сложные<br></a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade-tab-bs show active" id="nav-47125-content-1" role="tabpanel" aria-labelledby="nav-47125-content-1">
                                                                    <div class="blocs-grid-container grid-bloc-8-style">
                                                                        {{#each resp_res_lr2_simple}}
                                                                        <div>
                                                                            <p class="bento-box active-token">
                                                                                {{this.test_name}}
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="bento-box active-token">
                                                                                {{this.result_list}}
                                                                            </p>
                                                                        </div>
                                                                        {{/each}}
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane fade-tab-bs" id="nav-47125-content-2" role="tabpanel" aria-labelledby="nav-47125-content-2">
                                                                    <div class="blocs-grid-container grid-bloc-8-style">
                                                                        {{#each resp_res_lr2_hard}}
                                                                        <div>
                                                                            <p class="bento-box active-token">
                                                                                {{this.test_name}}
                                                                            </p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="bento-box active-token">
                                                                                {{this.result_list}}
                                                                            </p>
                                                                        </div>
                                                                    {{/each}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade-tab-bs" id="nav-res-content-3" role="tabpanel" aria-labelledby="nav-res-content-3">
                                                        <p>
                                                            Результаты 3 лабы
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs" id="nav-47189-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link active" id="nav-47189-tab-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47189-content-1" aria-selected="true" data-bs-target="#nav-47189-content-1">
                                                                        Простые<br></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link" id="nav-47189-tab-2" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47189-content-2" data-bs-target="#nav-47189-content-2">
                                                                        Сложные<br></a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade-tab-bs show active" id="nav-47189-content-1" role="tabpanel" aria-labelledby="nav-47189-content-1">
                                                                    {{#each resp_res_lr3_simple}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                                <div class="tab-pane fade-tab-bs" id="nav-47189-content-2" role="tabpanel" aria-labelledby="nav-47189-content-2">
                                                                    {{#each resp_res_lr3_hard}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade-tab-bs" role="tabpanel" aria-labelledby="nav-res-content-4" id="nav-res-content-4">
                                                        <p>
                                                            Результаты 4 лабы
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs" id="nav-47193-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link active" id="nav-47193-tab-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47193-content-1" aria-selected="true" data-bs-target="#nav-47193-content-1">
                                                                        Простые<br></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link" id="nav-47193-tab-2" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47193-content-2" data-bs-target="#nav-47193-content-2">
                                                                        Сложные<br></a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade-tab-bs show active" id="nav-47193-content-1" role="tabpanel" aria-labelledby="nav-47193-content-1">
                                                                    {{#each resp_res_lr4_simple}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                                <div class="tab-pane fade-tab-bs" id="nav-47193-content-2" role="tabpanel" aria-labelledby="nav-47193-content-2">
                                                                    {{#each resp_res_lr4_hard}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade-tab-bs" role="tabpanel" aria-labelledby="nav-res-content-5" id="nav-res-content-5">
                                                        <p>
                                                            Результаты 5 лабы
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs" id="nav-47192-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link active" id="nav-47192-tab-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47192-content-1" aria-selected="true" data-bs-target="#nav-47192-content-1">
                                                                        На внимание<br></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link" id="nav-47192-tab-2" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47192-content-2" data-bs-target="#nav-47192-content-2">
                                                                        На память<br></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="a-btn nav-link" id="nav-47192-tab-3" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-47192-content-3" data-bs-target="#nav-47192-content-3">
                                                                        На мышление<br></a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade-tab-bs show active" id="nav-47192-content-1" role="tabpanel" aria-labelledby="nav-47192-content-1">
                                                                    {{#each resp_res_lr5_visual}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                                <div class="tab-pane fade-tab-bs" id="nav-47192-content-2" role="tabpanel" aria-labelledby="nav-47192-content-2">
                                                                    {{#each resp_res_lr5_memory}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                                <div class="tab-pane fade-tab-bs" id="nav-47192-content-3" role="tabpanel" aria-labelledby="nav-47192-content-3">
                                                                    {{#each resp_res_lr5_brain}}
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.timeofoper}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.test_name}}
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <p class="bento-box active-token">
                                                                                    {{this.result_list}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pb-lg-3">
                                    <div>
                                        <div class="row mb-lg-3">
                                            <div class="text-lg-center col-lg-12">
                                                <h3 class="primary-text box-heading text-lg-center">
                                                    Совместимость с профессиями
                                                    <br>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <button class="btn btn-primary" onclick="checkProfs();">Посмотреть совместимость</button>
                                    </div>
                                    <div class="modal fade" id="chartsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header auto" style="margin: auto">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Совместимость с профессиями</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6 offset-3 text-center">
                                                            <div id="pie-chart"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="radial-charts-row"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col offset-lg-0 text-lg-start">
                            <div class="bento-box primary-gradient mb-lg-3 ">
                                <picture>
                                    <source type="image/webp" srcset="/img/lazyload-ph.png" data-srcset="/img/avatar@2x.webp">
                                    <img src="/img/lazyload-ph.png" data-src="/img/avatar@2x.png" class="img-fluid mx-auto d-block avatar mb-4 mt-4 lazyload" alt="avatar@2x" width="150" height="215">
                                </picture>
                                <h3 class="box-heading tc-3849 mb-0">
                                    Настраивайся!
                                </h3>
                                <p class="box-info tc-3849">
                                    Счастье охотнее заходит в тот дом, где всегда царит хорошее настроение. <br>Л. Н.
                                    Толстой<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-lg-3">
                    <div id="change-data" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog  modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="mg-clear primary-text box-heading">
                                        Изменить данные
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form data-clean-url-used="true" action="change-data" method="post" data-form-type="blocs-form" novalidate="">
                                            <div class="form-group mb-3">
                                                <label class="form-label">
                                                    Имя
                                                </label>
                                                <input id="name" name="name" class="form-control" placeholder="{{user.name}}">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label">
                                                    Почта
                                                </label>
                                                <input id="email" name="email" class="form-control" type="email" data-error-validation-msg="Введите нормальную почту" placeholder="{{user.email}}">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label">
                                                    Пароль
                                                </label>
                                                <input id="passwd" name="passwd" class="form-control" type="password" placeholder="{{user.passwd}}">
                                            </div>
                                            <button class="bloc-button btn btn-d btn-lg w-100 primary-btn box-btn fill-mob-btn" type="submit">
                                                Сохранить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-d btn-lg primary-btn box-btn fill-mob-btn" data-bs-toggle="modal" data-bs-target="#change-data">Закрыть</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-lg-3">
                    <div id="remove-results" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog  modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="mg-clear primary-text box-heading">
                                        Сбросить результаты
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form data-clean-url-used="true" id="form_26033" data-form-type="blocs-form" novalidate="" data-success-msg="Your message has been sent." data-fail-msg="Sorry it seems that our mail server is not responding, Sorry for the inconvenience!">
                                            <div class="form-group mb-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div class="mb-lg-3">
                                                            <div class="form-check">
                                                                <input class="form-check-input mb-lg-3" type="checkbox" id="input_1636">
                                                                <label class="form-check-label">
                                                                    Все лабы
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="mb-lg-3">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_290">
                                                                <label class="form-check-label">
                                                                    1 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_1788">
                                                                <label class="form-check-label">
                                                                    2 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_329">
                                                                <label class="form-check-label">
                                                                    3 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_1774">
                                                                <label class="form-check-label">
                                                                    4 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_1648">
                                                                <label class="form-check-label">
                                                                    5 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_1040">
                                                                <label class="form-check-label">
                                                                    6 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_1900">
                                                                <label class="form-check-label">
                                                                    7 лаба
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="input_521">
                                                                <label class="form-check-label">
                                                                    8 лаба
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button class="bloc-button btn btn-d btn-lg w-100 primary-btn box-btn fill-mob-btn" type="submit">
                                                Сбросить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-d btn-lg primary-btn box-btn fill-mob-btn" data-bs-toggle="modal" data-bs-target="#remove-results">Закрыть</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if user.is_expert}}
<div class="bloc l-bloc" id="extra">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading primary-text mb-3 mb-md-4">
                        Расширенные настройки<br>
                    </h3>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="bento-box primary-gradient mb-lg-3">
                                <picture>
                                    <source type="image/webp" srcset="/img/lazyload-ph.png" data-srcset="/img/avatar@2x.webp">
                                    <img src="/img/lazyload-ph.png" data-src="/img/avatar@2x.png" class="img-fluid mx-auto d-block avatar mb-4 mt-4 lazyload" alt="avatar@2x" width="150" height="215">
                                </picture>
                                <h3 class="box-heading tc-3849 mb-0">
                                    Обустраивайся!
                                </h3>
                                <p class="box-info tc-3849">
                                    Не чини того, что работает, — если только ты не эксперт.<br>
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="pb-lg-3">
                                <div>
                                    <div class="row mb-lg-3">
                                        <div class="text-lg-center col-lg-8">
                                            <h3 class="mb-4 primary-text box-heading text-lg-center">
                                                Пользователи
                                            </h3>
                                        </div>
                                        <div class="col text-lg-center">
                                            <div class="btn-group btn-dropdown dropdown">
                                                <a href="#" class="btn dropdown-toggle  btn-d  btn-lg primary-btn box-btn fill-mob-btn" data-bs-toggle="dropdown" aria-expanded="false">Изменить</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#" class="dropdown-item a-block" data-bs-toggle="modal" data-bs-target="#add-user">Добавить</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="dropdown-item a-block" data-bs-toggle="modal" data-bs-target="#edit-user">Редактировать<br></a><a href="#" class="dropdown-item a-block" data-bs-toggle="modal" data-bs-target="#delete-user">Удалить<br></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="card mb-lg-3">
                                            {{#each users}}
                                                <div class="card-body mini-heading">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mini-heading">
                                                            {{this.name}} {{this.surname}}
                                                        </p>
                                                        <button id="add-{{this.usr_id}}" class="btn btn-primary">Назначить</button>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="modal-{{this.usr_id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{this.usr_id}}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalLabel-{{this.usr_id}}">Назначить тест</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            Выберите, что вы хотите назначить
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="add-test-{{this.usr_id}}" class="btn btn-primary">Назначить тест</button>
                                                            <button type="button" id="add-criteria-{{this.usr_id}}" class="btn btn-primary">Назначить пресет критериев</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </li>
                                </ul>
                                <div class="modal fade" id="addPresetModal" tabindex="-1" aria-labelledby="addPresetModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addPresetModalLabel">Выберите пресет теста</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="assignTestForm">
                                                    <input type="hidden" id="test_usr_id" name="usr_id">
                                                    <div class="mb-3">
                                                        <label for="preset" class="form-label">Пресет теста</label>
                                                        <select class="form-select" id="preset" name="preset_id" required>
                                                            {{#each presets}}
                                                                {{#each this.presets}}
                                                                    <option value="{{this.preset_id}}">{{this.preset_name}}</option>
                                                                {{/each}}
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Назначить</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="addCriteriaModal" tabindex="-1" aria-labelledby="addCriteriaModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addCriteriaModalLabel">Выберите пресет критериев</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="assignCriteriaForm">
                                                    <input type="hidden" id="criteria_usr_id" name="usr_id">
                                                    <div class="mb-3">
                                                        <label for="criteria" class="form-label">Пресет критериев</label>
                                                        <select class="form-select" id="criteria" name="preset_id" required>
                                                            {{#each criteria_presets}}
                                                                <option value="{{this.id}}">{{this.preset_name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Назначить</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-lg-3">
                                <div>
                                    <div class="row mb-lg-3">
                                        <div class="text-lg-center col-lg-12">
                                            <h3 class="primary-text box-heading text-lg-center">
                                                Пресеты<br>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <button class="btn btn-primary" onclick="window.location.href = '/user/presets';">Настроить пресеты</button>
                                </div>
                            </div>
                            <div class="pb-lg-3">
                                <div>
                                    <div class="row mb-lg-3">
                                        <div class="text-lg-center col-lg-8">
                                            <h3 class="mb-4 primary-text box-heading text-lg-center">
                                                Профессии<br>
                                            </h3>
                                        </div>
                                        <div class="col text-lg-center">
                                            <div class="btn-group btn-dropdown dropdown">
                                                <a href="#" class="btn dropdown-toggle  btn-d  btn-lg primary-btn box-btn fill-mob-btn" data-bs-toggle="dropdown" aria-expanded="false">Изменить</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#" class="dropdown-item a-block" data-bs-toggle="modal" data-bs-target="#add-prof">Добавить</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="dropdown-item a-block" data-bs-toggle="modal" data-bs-target="#edit-prof">Редактировать<br></a><a href="#" class="dropdown-item a-block" data-bs-toggle="modal" data-bs-target="#delete-prof">Удалить<br></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="card mb-lg-3">
                                            {{#each rows}}
                                            <div class="card-body mini-heading">
                                                <p class="mini-heading">
                                                    {{this.name}}
                                                </p>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pb-lg-3">
                                <div>
                                    <div class="row mb-lg-3">
                                        <div class="text-lg-center col-lg-12">
                                            <h3 class="primary-text box-heading text-lg-center">
                                                Критерии<br>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <button class="btn btn-primary" onclick="window.location.href = '/user/criteria_list';">Настроить критерии</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let presetModal
    $(document).ready(() => {
        presetModal = new bootstrap.Modal(document.getElementById('addPresetModal'))
        criteriaModal = new bootstrap.Modal(document.getElementById('addCriteriaModal'))

        document.querySelectorAll('[id^="add-test-"]').forEach(button => {
            button.addEventListener('click', function () {
                const usr_id = this.id.split('-')[2];
                document.getElementById('test_usr_id').value = usr_id;
                presetModal.show();
            });
        });

        document.querySelectorAll('[id^="add-criteria-"]').forEach(button => {
            button.addEventListener('click', function () {
                const usr_id = this.id.split('-')[2];
                document.getElementById('criteria_usr_id').value = usr_id;
                criteriaModal.show();
            });
        });

        document.getElementById('assignTestForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const data = new FormData(this);
            fetch('/user/assign-test', {
                method: 'POST',
                body: data,
            }).then(response => {
                console.log(response)
                if (!response.ok) {
                    console.error('Error:', response.statusText);
                }
                presetModal.hide();
            });
        });

        document.getElementById('assignCriteriaForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const data = new FormData(this);
            fetch('/user/assign-criteria', {
                method: 'POST',
                body: data,
            }).then(response => {
                console.log(response)
                if (!response.ok) {
                    console.error('Error:', response.statusText);
                }
                presetModal.hide();
            });
        });

        $('[id^=add-]').click(function() {
            var usr_id = $(this).attr('id').split('-')[1];
            $('#modal-' + usr_id).modal('show');
        });
    })

    function checkProfs() {
        fetch('/user/check_profs', {
            method: 'get',
        })
        .then(response => response.json())
        .then(data => {
            document.querySelector("#radial-charts-row").innerHTML = "";

            const professions = Object.keys(data[0]);
            const scores = Object.values(data[0]);
            const percentages = Object.values(data[1]);

            var pieChart = new ApexCharts(document.querySelector("#pie-chart"), {
                chart: {
                    type: 'pie'
                },
                series: scores,
                labels: professions
            });
            pieChart.render();

            professions.forEach((profession, i) => {
                const chartDiv = document.createElement('div');
                chartDiv.id = `radial-chart-${i+1}`;
                chartDiv.className = 'col-lg-4';
                document.querySelector("#radial-charts-row").appendChild(chartDiv);

                var radialChart = new ApexCharts(document.querySelector(`#radial-chart-${i+1}`), {
                    chart: {
                        type: 'radialBar'
                    },
                    series: [percentages[i].toFixed(2)],
                    plotOptions: {
                        radialBar: {
                            dataLabels: {
                                total: {
                                    show: true,
                                    label: profession
                                }
                            }
                        }
                    }
                });
                radialChart.render();
            });

            $('#chartsModal').modal('show');
        })
        .catch(err => {
            console.error('Error:', err);
        });
    }
</script>

{{/if}}